.contact{
   & h4{
   font-size: 12rem;
   line-height: 11rem;

   }
   & h5{
     border-bottom: 6px solid $color-sec;
     margin-left: 0.6rem;
     margin-bottom: 3rem;
   }
  & form{
    width: 100%;

  }
  & .input-group{
    width: 100%;
    margin-top: 1.5rem !important;
  }
  &-or{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin-top:8rem;
    & h2{
      margin-top: 3rem;
    }
  }


}