main{
	min-height: 100vh;
}


#scene-container {
  position: fixed;
  top: 0;
  //border:2px solid $color-white;
  z-index: -1;
}
.d-none-d{
  @include mq("desktop",max) {
    display:none !important;
  }
}