main{
	min-height: 100vh;
}


#scene-container {
  margin-left: $sidebar-width;
  width: 100vw - $sidebar-width;
  position: fixed;
  top: 0;
  //border:2px solid $color-white;
  z-index: -1;
  @include mq("desktop",max) {
    margin-left: 0rem;
    width: 100vw ;
  }
}
.d-none-d{
  @include mq("desktop",max) {
    display:none !important;
  }
}