.ws{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  /* &-mainText{
    opacity: 0.8;
  } */
  

  &-h5 {
    margin-top: 8rem;
    margin-bottom: 5rem;
    & h4{
      color: lighten($color-main,80%);
      width: auto;
      margin-bottom: 2rem;
    }
    & h5 {
      padding: 1rem;
    }
  }
}

.carousel  img {
  border: 3px solid $color-sec;
}